{% extends 'base.html' %}

{% block content %}
    <div class="container py-4">
        <h1 class="mb-4">Create New Team</h1>
        <form method="post" class="needs-validation" novalidate>
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
        <br>
{#        <form method="post" action="{% url 'random_team' %}" class="needs-validation" novalidate>#}
{#            {% csrf_token %}#}
{#            <button type="submit" class="btn btn-secondary">Create Random Team</button>#}
{#        </form>#}
    </div>
{% endblock %}