{% extends 'base.html' %}

{% block content %}
    <div class="container py-4">
        <div class="card mb-4">
            <div class="card-body">
                {% if not tournament.pool_play_completed and not tournament.bracket_play_completed %}
                    <a href="{% url 'simulate_full_pool_play' tournament.id %}" class="btn-link"
                       id="simulatePoolPlay">Simulate Pool Play All At Once</a>
                {% elif tournament.pool_play_completed and not tournament.pre_quarterfinal_round_completed and not tournament.quarterfinal_round_completed and not tournament.semifinal_round_completed and not tournament.final_round_completed %}
                    <a href="{% url 'simulate_prequarterfinal_round' tournament.id %}" class="btn-link"
                       id="simulateQuarterfinalRound">Simulate Pre-Quarter-Final Round</a>
                {% elif tournament.pool_play_completed and not tournament.quarterfinal_round_completed and not tournament.semifinal_round_completed and not tournament.final_round_completed %}
                    <a href="{% url 'simulate_quarterfinal_round' tournament.id %}" class="btn-link"
                       id="simulateQuarterfinalRound">Simulate Quarter-Final Round</a>
                {% elif tournament.pool_play_completed and tournament.quarterfinal_round_completed and not tournament.semifinal_round_completed and not tournament.final_round_completed %}
                    <a href="{% url 'simulate_semifinal_round' tournament.id %}" class="btn-link"
                       id="simulateSemifinalRound">Simulate Semi-Final Round</a>
                {% elif tournament.pool_play_completed and tournament.quarterfinal_round_completed and tournament.semifinal_round_completed and not tournament.final_round_completed %}
                    <a href="{% url 'simulate_final_round' tournament.id %}" class="btn-link"
                       id="simulateFinalRound">Simulate Final Round</a>
                {% endif %}
            </div>
        </div>
        <div id="loading-message" style="display: none;">
            <p>Your games are being simulated, please be patient...</p>
        </div>
        <!-- 9th Place Quarterfinal Games Card -->
        <div class="card mb-4">
            <div class="card-header">9th Place Quarterfinal Results</div>
            <ul class="list-group list-group-flush">
                {% for game in tournament.games.all %}
                    {% if game.game_type == '9th-Place Quarterfinal' %}
                        <li class="list-group-item" id="game-{{ game.id }}">
                            {{ game.team_one }} vs {{ game.team_two }}
                        </li>
                    {% endif %}
                {% empty %}
                    <li class="list-group-item">No games yet</li>
                {% endfor %}
            </ul>
        </div>
        <!-- PreQuarterfinal Games Card -->
        <div class="card mb-4">
            <div class="card-header">Pre-Quarterfinal Results</div>
            <ul class="list-group list-group-flush">
                {% for game in tournament.games.all %}
                    {% if game.game_type == 'Pre-Quarterfinal' %}
                        <li class="list-group-item" id="game-{{ game.id }}">
                            {{ game.team_one }} vs {{ game.team_two }}
                        </li>
                    {% endif %}
                {% empty %}
                    <li class="list-group-item">No games yet</li>
                {% endfor %}
            </ul>
        </div>
        <!-- Quarterfinal Games Card -->
        <div class="card mb-4">
            <div class="card-header">Quarterfinal Results</div>
            <ul class="list-group list-group-flush">
                {% for game in tournament.games.all %}
                    {% if game.game_type == 'Quarterfinal' %}
                        <li class="list-group-item" id="game-{{ game.id }}">
                            {{ game.team_one }} vs {{ game.team_two }}
                        </li>
                    {% endif %}
                {% empty %}
                    <li class="list-group-item">No games yet</li>
                {% endfor %}
            </ul>
        </div>
        <!-- Loser Semifinals Games Card -->
        <div class="card mb-4">
            <div class="card-header">5th-Place Semifinals Results</div>
            <ul class="list-group list-group-flush">
                {% for game in tournament.games.all %}
                    {% if game.game_type == '5th-Place Semifinal' %}
                        <li class="list-group-item" id="game-{{ game.id }}">
                            {{ game.team_one }} vs {{ game.team_two }}
                        </li>
                    {% endif %}
                {% empty %}
                    <li class="list-group-item">No games yet</li>
                {% endfor %}
            </ul>
        </div>
        <!-- Semifinal Games Card -->
        <div class="card mb-4">
            <div class="card-header">Semifinal Results</div>
            <ul class="list-group list-group-flush">
                {% for game in tournament.games.all %}
                    {% if game.game_type == 'Semifinal' %}
                        <li class="list-group-item" id="game-{{ game.id }}">
                            {{ game.team_one }} vs {{ game.team_two }}
                        </li>
                    {% endif %}
                {% empty %}
                    <li class="list-group-item">No games yet</li>
                {% endfor %}
            </ul>
        </div>
        <!-- 9th-Place Semifinals Games Card -->
        <div class="card mb-4">
            <div class="card-header">9th-Place Semifinals Results</div>
            <ul class="list-group list-group-flush">
                {% for game in tournament.games.all %}
                    {% if game.game_type == '9th-Place Semifinal' %}
                        <li class="list-group-item" id="game-{{ game.id }}">
                            {{ game.team_one }} vs {{ game.team_two }}
                        </li>
                    {% endif %}
                {% empty %}
                    <li class="list-group-item">No games yet</li>
                {% endfor %}
            </ul>
        </div>
        <!-- 13th-Place Semifinal Games Card -->
        <div class="card mb-4">
            <div class="card-header">13th-Place Semifinal Results</div>
            <ul class="list-group list-group-flush">
                {% for game in tournament.games.all %}
                    {% if game.game_type == '13th-Place Semifinal' %}
                        <li class="list-group-item" id="game-{{ game.id }}">
                            {{ game.team_one }} vs {{ game.team_two }}
                        </li>
                    {% endif %}
                {% empty %}
                    <li class="list-group-item">No games yet</li>
                {% endfor %}
            </ul>
        </div>
        <!-- 17th-Place Semifinal Games Card -->
        <div class="card mb-4">
            <div class="card-header">17th-Place Semifinal Results</div>
            <ul class="list-group list-group-flush">
                {% for game in tournament.games.all %}
                    {% if game.game_type == '17th-Place Semifinal' %}
                        <li class="list-group-item" id="game-{{ game.id }}">
                            {{ game.team_one }} vs {{ game.team_two }}
                        </li>
                    {% endif %}
                {% empty %}
                    <li class="list-group-item">No games yet</li>
                {% endfor %}
            </ul>
        </div>
        <!-- Championship Game Card -->
        <div class="card mb-4">
            <div class="card-header">Championship Results</div>
            <ul class="list-group list-group-flush">
                {% for game in tournament.games.all %}
                    {% if game.game_type == 'Championship' %}
                        <li class="list-group-item" id="game-{{ game.id }}">
                            {{ game.team_one }} vs {{ game.team_two }}
                        </li>
                    {% endif %}
                {% empty %}
                    <li class="list-group-item">No games yet</li>
                {% endfor %}
            </ul>
        </div>
        <!-- Third Place Game Card -->
        <div class="card mb-4">
            <div class="card-header">Third Place Results</div>
            <ul class="list-group list-group-flush">
                {% for game in tournament.games.all %}
                    {% if game.game_type == '3rd-Place Final' %}
                        <li class="list-group-item" id="game-{{ game.id }}">
                            {{ game.team_one }} vs {{ game.team_two }}
                        </li>
                    {% endif %}
                {% empty %}
                    <li class="list-group-item">No games yet</li>
                {% endfor %}
            </ul>
        </div>
        <!-- Fifth Place Final Games Card -->
        <div class="card mb-4">
            <div class="card-header">Fifth Place Final Results</div>
            <ul class="list-group list-group-flush">
                {% for game in tournament.games.all %}
                    {% if game.game_type == '5th-Place Final' %}
                        <li class="list-group-item" id="game-{{ game.id }}">
                            {{ game.team_one }} vs {{ game.team_two }}
                        </li>
                    {% endif %}
                {% empty %}
                    <li class="list-group-item">No games yet</li>
                {% endfor %}
            </ul>
        </div>
        <!-- 7th-Place-Final Games Card -->
        <div class="card mb-4">
            <div class="card-header">7th Place Final Results</div>
            <ul class="list-group list-group-flush">
                {% for game in tournament.games.all %}
                    {% if game.game_type == '7th-Place Final' %}
                        <li class="list-group-item" id="game-{{ game.id }}">
                            {{ game.team_one }} vs {{ game.team_two }}
                        </li>
                    {% endif %}
                {% empty %}
                    <li class="list-group-item">No games yet</li>
                {% endfor %}
            </ul>
        </div>
        <!-- 9th-Place-Final Games Card -->
        <div class="card mb-4">
            <div class="card-header">9th Place Final Results</div>
            <ul class="list-group list-group-flush">
                {% for game in tournament.games.all %}
                    {% if game.game_type == '9th-Place Final' %}
                        <li class="list-group-item" id="game-{{ game.id }}">
                            {{ game.team_one }} vs {{ game.team_two }}
                        </li>
                    {% endif %}
                {% empty %}
                    <li class="list-group-item">No games yet</li>
                {% endfor %}
            </ul>
        </div>
        <!-- 11th-Place-Final Games Card -->
        <div class="card mb-4">
            <div class="card-header">11th Place Final Results</div>
            <ul class="list-group list-group-flush">
                {% for game in tournament.games.all %}
                    {% if game.game_type == '11th-Place Final' %}
                        <li class="list-group-item" id="game-{{ game.id }}">
                            {{ game.team_one }} vs {{ game.team_two }}
                        </li>
                    {% endif %}
                {% empty %}
                    <li class="list-group-item">No games yet</li>
                {% endfor %}
            </ul>
        </div>
        <!-- 13th-Place-Final Games Card -->
        <div class="card mb-4">
            <div class="card-header">13th Place Final Results</div>
            <ul class="list-group list-group-flush">
                {% for game in tournament.games.all %}
                    {% if game.game_type == '13th-Place Final' %}
                        <li class="list-group-item" id="game-{{ game.id }}">
                            {{ game.team_one }} vs {{ game.team_two }}
                        </li>
                    {% endif %}
                {% empty %}
                    <li class="list-group-item">No games yet</li>
                {% endfor %}
            </ul>
        </div>
        <!-- 15th-Place-Final Games Card -->
        <div class="card mb-4">
            <div class="card-header">15th Place Final Results</div>
            <ul class="list-group list-group-flush">
                {% for game in tournament.games.all %}
                    {% if game.game_type == '15th-Place Final' %}
                        <li class="list-group-item" id="game-{{ game.id }}">
                            {{ game.team_one }} vs {{ game.team_two }}
                        </li>
                    {% endif %}
                {% empty %}
                    <li class="list-group-item">No games yet</li>
                {% endfor %}
            </ul>
        </div>
        <!-- 17th-Place-Final Games Card -->
        <div class="card mb-4">
            <div class="card-header">17th Place Final Results</div>
            <ul class="list-group list-group-flush">
                {% for game in tournament.games.all %}
                    {% if game.game_type == '17th-Place Final' %}
                        <li class="list-group-item" id="game-{{ game.id }}">
                            {{ game.team_one }} vs {{ game.team_two }}
                        </li>
                    {% endif %}
                {% empty %}
                    <li class="list-group-item">No games yet</li>
                {% endfor %}
            </ul>
        </div>
        <!-- 19th-Place-Final Games Card -->
        <div class="card mb-4">
            <div class="card-header">19th Place Final Results</div>
            <ul class="list-group list-group-flush">
                {% for game in tournament.games.all %}
                    {% if game.game_type == '19th-Place Final' %}
                        <li class="list-group-item" id="game-{{ game.id }}">
                            {{ game.team_one }} vs {{ game.team_two }}
                        </li>
                    {% endif %}
                {% empty %}
                    <li class="list-group-item">No games yet</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% include 'twenty_team_bracket_scripts.html' %}
{% endblock %}