{% extends 'base.html' %}

{% block content %}
    <div class="container py-4">
        <h1 class="mb-4">Tournaments</h1>
        <a href="{% url 'create_tournament' %}" class="btn btn-primary mb-4">Create Tournament</a>
        <button onclick="window.location.href='{% url 'list_public_tournaments' %}'">List Public Tournaments</button>
        <button onclick="window.location.href='{% url 'list_tournaments' %}'">List Personal Tournaments</button>
        <div class="table-responsive">
            <table id="team-table" class="table table-striped table-bordered">
                <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>Location</th>
                    <th># of Teams</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for tournament in tournaments %}
                    <tr>
                        <td>
                            <a href="{% url 'detail_tournament' tournament.id %}">{{ tournament.name }}</a>
                        </td>
                        <td>{{ tournament.location }}</td>
                        <td>{{ tournament.number_of_teams }}</td>
                        <td>
                            {% if tournament.is_complete %}
                                <a href="{% url 'tournament_results' tournament.id %}">Show Tournament Results</a>
                                <a href="{% url 'list_player_tournament_stats' tournament.id %}">Show Player Tournament
                                    Stats</a>
                            {% else %}
                                <a href="{% url 'simulate_tournament' tournament.id %}">Simulate Tournament</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
